body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.title {
    display: flex;
    justify-content: center;
    margin: 3rem;
}

h1 {
    padding: 2rem;
    border: 2px solid royalblue;
    border-radius: 10px;
}

.content {
    display: flex;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid royalblue;
    border-radius: 10px;
}

h1 {
    font-size: 24px;
}

.temp {
    font-size: 36px;
    margin-top: 10px;
}

.temp_min {
    font-size: 36px;
    margin-top: 10px;
}

.temp_max {
    font-size: 36px;
    margin-top: 10px;
}

.city {
    font-size: 36px;
    margin-top: 10px;
}